<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jean1.splasherj">

    <application
        android:name=".CommonData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InsertActivity">


        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    </activity>
        <activity android:name=".CalendarActivity"></activity>
        <activity android:name=".JoinDialog"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MainCategoryActivity"></activity>
        <activity android:name=".ChartActivity">


        </activity>
        <activity android:name=".DrawerActivity">  </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".ModifyActivity"></activity>
        <activity android:name=".EditActivity"></activity>
        <activity android:name=".QuestionActivity"></activity>
        <activity android:name=".YearpickerActivity"
        android:theme="@style/Theme.AppCompat.DayNight.Dialog"></activity>
    <activity android:name=".PlusActivity"></activity>
        <activity android:name=".HomeActivity"></activity>
    </application>

</manifest>